<div class="container" ng-if="reg.registered()">
  <div class="">
      Welcom back {{reg.getRegisteredUser().firstname}} {{reg.getRegisteredUser().lastname}}
    <div class="email">
      Your email is: {{reg.getRegisteredUser().email}}
    </div>
    <div class="phone">
      Your phone number is:  {{reg.getRegisteredUser().phone}}
    </div>
  </div>
  <h3>Your favorite dish is:</h3>
  <menu-item menu-item="reg.getDish()">
  </menu-item>
</div>
<div class="container" ng-if="!reg.registered()">
  Not Signed Up Yet. <a ui-sref="public.sign-up">Sign up Now!</a>
</div>
